<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido Realizado com Sucesso</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Pedido Realizado com Sucesso!</h1>
    <p>Obrigado por realizar o seu pedido. Ele foi enviado com sucesso.</p>
    <a href="{% url 'create_order' %}" class="btn btn-primary">Fazer Novo Pedido</a>
</div>
</body>
</html>
